<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="iW6Q_MbqgOv8_VfNLedwZLOodd1qdQTisPu2Ak0y5zU" />
  <title>THE ERUDITE</title>
  <link rel="icon" href="team images\logo.png">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<!-- title green: #32e0c4 footer colour dark grey: #393e46 light green : #b4f2e1; black : #222831 -->

<body>
<i class="fas fa-arrow-circle-up fa-3x" id="btnScrollToTop"></i>

  <section class="title">
    <!-- Nav Bar -->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <img class="brand-image" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1000" src="team images/logo.png" alt="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">

              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/genres">Articles</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/poetry">Poetry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://salty-thicket-31281.herokuapp.com/">Newsletter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact-us">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Title image -->
    <div class="back">
      <img class="back-image-left" src="team images\new-back-image-2.png" alt="image" >
      <img class="back-image-right" src="team images\right.png" alt="image" >
      <div data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000" class="box stack-top" style="background: white;">
        <h1 id="Main-text">THE ERUDITE</h1>
        <h3 id="Main-sub-text">EXPLORE THE WORLD OF WORDS</h3>
        <h3 id="Main-sub-text">EXPERIENCE THE POWER OF SPEECH</h3>
      </div>
    </div>

  </section>

  <!-- Posts section -->
  <section id="posts" class="Post-section">
    <h1>Posts</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        
        <div class="carousel-item active">
          <h2 class="testimonial-text">Life Lessons: Shows Binge</h2>
          <p>Shows and sitcoms have often been viewed as a sort of escapism for people from the real world- A means to put behind all that's nagging them, relax, laugh and enjoy. However, there are also several people who view it with a negative perception, perhaps as a bad habit or a waste of time or some other opinion
          <a class="cat" href="http://www.the-erudite.com/posts/5f144b0082f8931120df95e2 ">&nbsp READ MORE...</a></p>
          <em class="author-name">Binge Watchers</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">What is Brexit?</h2>
          <p>Brexit or British exit refers to the UK leaving the EU (European Union). A public vote also known as a referendum was held in June 2016, where 52% of the citizens opted for Brexit. The EU is a union involving 28 European countries both economically and politically. It ensures free trade, which means goods can move between the member countries of the union without any extra charges.
          <a class="cat" href="http://www.the-erudite.com/posts/5f01de9704688a00048055b7 ">&nbsp READ MORE...</a></p>
          <em class="author-name">Kamalika Gunasekaran</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">The Monk who sold his Ferrari</h2>
          <p>Robin Sharma, an acclaimed motivational leader and writer, has written many self - help books on leadership, time management and personality development. Some of his best sellers include ‘The Leader who had no title’, ‘The Saint, The Sufferer and The CEO’, ‘The Greatness Guide’, etc. The Monk who sold his Ferrari is another self - help and an enlightening book written by him.
          <a class="cat" href=" ">&nbsp READ MORE...</a></p>
          <em class="author-name">Vanshika Somani</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Forgiveness...</h2>
          <p>It’s often said and abided to:<br>
  “Forgiveness is pride and has never died,<br>
  You understand this only when you have tried”.<br>
          <a class="cat" href="http://www.the-erudite.com/poems/5f02d80c63161e27f8bcbbe2">&nbsp READ MORE...</a></p>
          <em class="author-name">Ashita Thakur</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>


  <!-- contact us section -->


  <!-- About section -->
  <section id="about" class="About-section">
    <h1>About</h1>
    <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="row">
      <div class="col-lg-8">
        <p class="about-text">The Erudite is a student-run body mainly focusing on providing the juveniles, a platform to showcase their perspectives and emotions in the form of words!

          Erudite aims to broadcast the voices and opinions of all interest groups before the world. Our unmitigated belief in "if everything is the same, nothing is special" led us to welcome every, unique and diversified, genre and opinion to join
          our club!
          Starting from the midnight poetic thoughts and fiction worlds to blogs on technical know-how, fashion statements, e-commerce and international politics- we have it all!
        </p>
      </div>
      <div class="parent-block col-lg-4">
        <img class="about-image" src="team images/logo.png" alt="logo">
      </div>
    </div>
  </section>

  <!-- Quote of the Day section -->
  <section id="qoutes" class="Quotes-section">
    <div class="card" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="1000">
      <div class="card-header">
        <h1>Quote of the day</h1>
      </div>
      <div class="quote-body card-body">
        <p class="quote-text"><i class="fas fa-quote-left"></i>&nbsp <%= contentbody %> &nbsp&nbsp<i class="fas fa-quote-right"></i></p>
        <p class="quote-text-author"><em> <%= authorbody %></em></p>
      </div>
    </div>
  </section>





  <section id="contact-us" class="Contact-section" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
    <h3 class="publish">Publish your article!</h3>
    <p class="contact-text">There would have been no Mark Manson or Wordsworth if they never started. <br>We’d love to get you started too and take your passion for writing to a higher level.<br>Join us</p>
    <ul class="instructions">
      <li class="contact-text">Fill the form ( <a href="https://forms.gle/qN4Xo9tv4WRsZUDs7">Click here</a> )</li>
      <li class="contact-text">Click on the contact us button below and append two sample of your writings.</li>
    </ul>
    <a href="mailto:therudite.team@gmail.com"><button type="button" class="download-button btn btn-dark btn-lg">CONTACT US</button></a>
  </section>


  <!-- footer section -->
  <section id="footer" class="Footer-section">
  <a href="https://www.instagram.com/the__erudite/">  <i class="social fab fa-instagram fa-1.5x"></i></a>
    <a href="https://www.facebook.com/The-Erudite-103038314797697/"><i class="social fab fa-facebook-f fa-1.5x"></i></a>
    <a href="https://www.linkedin.com/company/theerudite/about/"><i class="social fab fa-linkedin-in fa-1.5x"></i></a>
    <a href="https://twitter.com/The__Erudite?s=09"><i class="social fab fa-twitter fa-1.5x"></i></a>
    <p class="quote-text-author">© Copyright 2020 The Erudite</p>
    <p class="quote-text-author">Made By : Shambhavi Awasthi and Maulishree Awasthi</p>
  </section>

  <!-- Animation js -->
  <script>
    AOS.init();
  </script>
  <script>
  const btnScrollToTop=document.querySelector("#btnScrollToTop");
  btnScrollToTop.addEventListener("click",function(){
    window.scrollTo({
      top:0,
      left: 0,
      behavior:"smooth"
    });
  });
  </script>
</body>

</html>
