<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="team images\logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="/css/compose.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">

    <title>The Erudite</title>
  </head>
  <body>
    <div class="container fluid">
    <h1>Compose Poem</h1>
<form class="" action="/compose" method="post">
  <div class="form-group" >
    <label>Title</label>
  <input class="form-control" type="text" name="poemTitle">
  <label>Author</label>
  <input class="form-control" type="text" name="poemAuthor">
  <label>Date of Publish</label>
  <input class="form-control" type="text" name="Date">
  <label>Enter 0</label>
  <input class="form-control" type="number" name="poemViews">
  <label>Image Link</label>
  <textarea class="form-control" name="poemImage" rows="5" cols="30"></textarea>
  <label>Content</label>
<textarea class="form-control" name="poemBody" rows="5" cols="30"></textarea>
</div>
<button type="submit" class="btn btn-primary">Publish</button>
</form>
</div>
<section id="footer" class="Footer-section">
<a href="https://www.instagram.com/the__erudite/">  <i class="social fab fa-instagram fa-1.5x"></i></a>
  <a href="https://www.facebook.com/The-Erudite-103038314797697"><i class="social fab fa-facebook-f fa-1.5x"></i></a>
  <a href="https://www.linkedin.com/company/theerudite/about/"><i class="social fab fa-linkedin-in fa-1.5x"></i></a>
  <a href="https://twitter.com/The__Erudite?s=09"><i class="social fab fa-twitter fa-1.5x"></i></a>
<p class="quote-text-author">© Copyright 2020 The Erudite</p>
<p class="quote-text-author">Shambhavi Awasthi and Maulishree Awasthi</p>
</section>

</body>


</html>
