<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
<link rel="icon" href="team images\logo.png">
  <title>THE ERUDITE - MEMBERS</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/members.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
<i class="fas fa-arrow-circle-up fa-3x" id="btnScrollToTop"></i>
  <div class="container-fluid">
    <h1 class="brand">Members</h1>
    <center> <img class="logo" src="team images/logo.png" alt="logo"></center>

    <div class="row" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/Vanshika Somani.jpeg" alt="member">
          </div>
          <div class="card-body">

            <h4>Vanshika Somani</h4>
            <p>Founder</p>

          </div>
        </div>
      </div>
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/Rishab Kumar Jain.jpeg" alt="member">
          </div>
          <div class="card-body">
            <h4>Rishab Kumar Jain</h4>
            <p>Co-Founder</p>
          </div>
        </div>
      </div>

      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/shambhavi.jpg" alt="member">
          </div>
          <div class="card-body">

            <h4>Shambhavi Awasthi</h4>
            <p>Web Developer</p>

          </div>
        </div>
      </div>
    </div>

    <div class="row " data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/maulishree_awasthi.jpg" alt="member">
          </div>
          <div class="card-body">

            <h4>Maulishree Awasthi</h4>
            <p>Web Developer</p>

          </div>
        </div>
      </div>
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/AnushkaBajpai.jpeg" alt="member">
          </div>
          <div class="card-body">
            <h4>Anushka Bajpai</h4>
            <p>Content Creator</p>

          </div>
        </div>
      </div>
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/About_Ashita Thakur.jpg" alt="member">
          </div>
          <div class="card-body">

            <h4>Ashita Thakur</h4>
            <p>Content Creator</p>

          </div>
        </div>
      </div>
    </div>

    <div class="row" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/Chimata_Shriya.jpeg" alt="member">
          </div>
          <div class="card-body">
            <h4>Chimata Shriya</h4>
            <p>Content Creator</p>
          </div>
        </div>
      </div>
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/janvi.jpeg" alt="member">
          </div>
          <div class="card-body">
            <h4>Janvi Gupta</h4>
            <p>Content Creator</p>

          </div>
        </div>
      </div>
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/kamalika.jpg" alt="member">
          </div>
          <div class="card-body">

            <h4>Kamalika Gunasekaran</h4>
            <p>Content Creator</p>

          </div>
        </div>
      </div>
    </div>

    <div class="row" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/Titi.jpg" alt="member">
          </div>
          <div class="card-body">

            <h4>Titiksha Jewrajka</h4>
            <p>Content Creator</p>


          </div>
        </div>
      </div>


        <div class="pricing-col col-lg-4">
          <div class="card">
            <div class="card-header">
              <img class="meme" src="team images/Vaidehi Gupta.jpg" alt="member">
            </div>
            <div class="card-body">
              <h4>Vaidehi Gupta</h4>
              <p>Content Creator</p></div>
          </div>
        </div>
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/abhishek.jpg" alt="member">
          </div>
          <div class="card-body">
            <h4>Abhishek Mishra</h4>
            <p>Graphic Designer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/satyaki.jpg" alt="member">
          </div>
          <div class="card-body">

            <h4>Satyaki Mandal</h4>
            <p>Graphic Designer</p>

          </div>
        </div>
      </div>
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <img class="meme" src="team images/vaishnavee.jpg" alt="member">
          </div>
          <div class="card-body">
            <h4>Vaishnavee Jadhav</h4>
            <p>Graphic Designer</p>

          </div>
        </div>
      </div>
    </div>

  </div>


  <section id="footer" class="Footer-section">
    <a href="https://www.instagram.com/the__erudite/">  <i class="social fab fa-instagram fa-1.5x"></i></a>
      <a href="https://www.facebook.com/The-Erudite-103038314797697/"><i class="social fab fa-facebook-f fa-1.5x"></i></a>
      <a href="https://www.linkedin.com/company/theerudite/about/"><i class="social fab fa-linkedin-in fa-1.5x"></i></a>
      <a href="https://twitter.com/The__Erudite?s=09"><i class="social fab fa-twitter fa-1.5x"></i></a>
    <p class="quote-text-author">© Copyright 2020 The Erudite</p>
    <p class="quote-text-author">Made By : Shambhavi Awasthi and Maulishree Awasthi</p>
  </section>

  <!-- Animation js -->
  <script>
    AOS.init();
  </script>
  <script>
  const btnScrollToTop=document.querySelector("#btnScrollToTop");
  btnScrollToTop.addEventListener("click",function(){
    window.scrollTo({
      top:0,
      left: 0,
      behavior:"smooth"
    });
  });
  </script>
</body>

</html>
